@use '@/app/variables' as *

@keyframes fromRightSide
  0%
    right: -100%
    top: -100%
    opacity: 0
  100%
    right: -10%
    top: 0
    opacity: 1

.wrapper
  max-width: 70%
  position: relative
  gap: 10px

  &:before
    display: block
    position: fixed
    content: url("../../../../public/dashboard.svg")
    z-index: -1
    animation: fromRightSide 2s ease-in-out forwards

  @media screen and (max-width: $width-tablet)
    max-width: 100%
    &::before
      display: none


.wrapperBlur
  padding: 5px
  backdrop-filter: blur(5px)
  border-radius: 10px
